*{
    margin: 0;
    padding: 0;
}
body {
    background-color:white;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

:root{
    --color-title:#096386;
    --color-nav:#575864;
    --color-nav-hover:#35373e;
    --color-par:#090934;
    --color-subtitle:#fff;
}

/* Boton ir al cielo */

  
/* Header */ 

header{
    width: 100%;
    background-image: linear-gradient(135deg, #000000e3 0%, #000000dc 100%), url(img/technology-1283624_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0;
    padding-bottom: 200px;
}

.header_nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_list{
    color: white;
    list-style: none;
}

.header_nav ul a{
    text-decoration: none;
    padding:10px 20px;
}

.header_nav ul a:hover{
    background-color: #50505059;
    transition: 0.4s;
    border-radius: 2px;
}

.header_titlebox{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    justify-content: center;
    flex-wrap: wrap;
}

.header_titlebox_text{
    text-align: center;
    line-height:1.5;
    margin-left: 100px;
}
.header_subtitle{
    color: var(--color-subtitle);
    font-size:30px;
    font-weight:300;
}

.header_title{
    color: var(--color-title);
    font-size:50px;
    font-weight:800;
}

.header_perfil{
    width: 200px;
    height: 200px;
    border-radius:50%;
}


/* Sobre mi */

.main{
    width: 90%;
    margin:auto;
}


.main_about{
    width: 60%;
    margin: auto;
    padding-top: 120px;
    display: flex;
    align-items: center;
    text-align:center;
    flex-direction: column;
}

.main_title{
    color: var(--color-title);
    font-size: 40px;
    font-weight:800;
}


.main_presentation{
    color: var(--color-par);
    font-size:20px;
    margin-top: 20px;
}

.main_cv{
    background-color: var(--color-title);
    border-radius: 30px;
    color: white;
    text-decoration: none;
    width:200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top:20px;
    padding: 5px 20px;
    justify-content: space-evenly
}

.main_cv svg{
    width:40px;
    fill: white;
}

.main_cv:hover{
    background-color: #0a7daa;
    transition:0.3s;
    border-radius: 30px;
    color: white;
}

/* SERVICIOS */

.main_services_world{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_services{
    width:90%;
    margin: auto;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.main_services svg{
    width:250px;
}

.services_icons{
    width:28%;
    margin: 0px 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_icons p{
    margin-top: 30px;
}

.services_icons h3{
    margin-bottom: 30px;
}

.social svg{
    margin-bottom: 30px;
}

/*HABILIDADES*/

.main_habilidades{
    background-color: var(--color-title);
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.hab_img{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.hab_img img{
    background-color:rgba(221, 221, 221, 0.726);
    width: 120px;
    border-radius:20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.hab_img img:hover{
    filter: brightness(80%);
    transform:scale(1.06);
    transition:.5s;
}

/* Proyectos */
.main_portafolio{
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top:100px;
}

.main_portafolio h2{
    font-size:35px;
    margin-bottom: 30px;
}

.main_projects{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main_projects figure{
    width: 45%;
    height: 250px;
    position: relative;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}

.main_projects figure a{
    color: white;
    text-decoration: none;
}

.main_projects figure img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit:cover;
}



.main_projects figure .proj_text{
    position: absolute;
    width:80%;
    margin:10%;
    height:100%;
    top: 25px;
    text-align: center;
    color: white;
}

.main_projects figure .proj_text p{
    transform: translate(120%);
}

.main_projects figure .proj_text h3{
    transform: translate(-110%);
}

.main_projects figure:hover img{
    filter: brightness(20%);
    
}

.main_projects figure:hover .proj_text p{
    transform: translate(0%);
    transition:.8s;
}
.main_projects figure:hover .proj_text h3{
    transform: translate(0%);
    transition:.7s;
}

/*Footer */

footer{
    width: 100%;
    margin:auto;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

footer h2{
    font-size:35px
}

.footer_icons{
    width:100%;
    height:60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_icons img{
    width:50px;
    padding-top: 30px;
}

.footer_icons img:hover{
    transform: scale(1.1);
    transition:.5s;
    filter: brightness(80%);
}


@media (max-width:800px){

    header{
        padding-bottom: 100px;
    }
    
    .header_nav ul {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        padding-bottom: 0;
    }

    .header_nav ul a{
        background-color: #5050503f;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content:center;
    }
    

    .header_titlebox{
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
    }
    
    .header_titlebox_text{
        margin-left: 0px;
        margin-top: 20px;
    }

    
    .header_title{
        font-weight:600;
    }
    

    .header_subtitle{
        color: var(--color-subtitle);
        font-size:20px;
        font-weight:300;
    }
    
    .header_title{
        color: var(--color-title);
        font-size:30px;
        font-weight :600;
    }
    
    .header_perfil{
        width: 150px;
        height: 150px;
        border-radius:50%;
    }
    
    .main_about{
        width: 100%;
        padding-top: 90px;
        padding-bottom: 30px;
    }
    
    .main_title{
        font-weight:600;
    }

    .main_habilidades{
        margin-top: 50px;
    }
    
    .main_skills{
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    .tamanio{
        margin-bottom: 40px;
    }

    
    .tamanio img{
    width:200px;
    margin-bottom: 40px;
    }

    .main_services{
    margin-top: 60px;
    }

    .main_services_world{
        padding: 0px 0px;
    }
    
    .services_icons{
        width:90%;
        margin-top: 50px;

    }

    .main_portafolio{
        margin-top:50px;
        margin-bottom: 0px;
    }
    
    
    .main_projects figure{
        width: 100%;
        height: 170px;
    }
    
    .main_projects figure img{
        filter:brightness(40%);
    }


    .main_projects figure .proj_text p{
        transform: translate(0);
    }
    
    .main_projects figure .proj_text h3{
        transform: translate(0);
    }
    
    .main_projects figure:hover img{
        filter: blur(0);
        filter:brightness(40%);
    }
    
    .main_projects figure:hover .proj_text p{
        transform: translate(0%);
    }
    .main_projects figure:hover .proj_text h3{
        transform: translate(0%);
    }

}

